@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(224, 248, 248);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
  background: rgb(2, 88, 88);
  color: rgb(224, 248, 248);
}
nav h1 {
  flex: 1;
}
nav h1 a {
  text-decoration: none;
  color: rgb(224, 248, 248);
  font-size: 28px;
}
nav-links {
  flex: 1;
}

nav-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style: none;
}
nav-links ul li a {
  text-decoration: none;
  color: rgb(224, 248, 248);
  font-weight: 600;
  font-size: 18px;
}

nav-links ul li a:hover {
  color: rgb(188, 243, 243);
}
nav-links ul li a:active {
  color: rgb(150, 218, 218);
  text-decoration: underline;
  text-underline-offset: 5px;
}
.search-box {
  text-align: center;
  flex: 2;
}

.search-box input {
  width: 50%;
  padding: 10px;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 2px;
  background: rgb(224, 248, 248);
}
.search-box input::placeholder {
  color: rgb(224, 248, 248);
  color: rgb(2, 88, 88);
}
.search-box button {
  padding: 10px;
  font-weight: 600;
  font-size: 16px;
  outline: none;
  border: none;
  color: rgb(2, 88, 88);
  background-color: rgb(224, 248, 248);
  border-radius: 2px;
  cursor: pointer;
}

.search-box button:hover {
  background-color: rgb(188, 243, 243);
}
.search-box button:active {
  background-color: rgb(150, 218, 218);
}

.recipe-container {
  text-align: center;
  padding: 15px;
  margin-top: 10px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(2, 88, 88);
}

@media only screen and (max-width: 1150px) {
  .search-box {
    width: 90%;
  }
}

@media only screen and (max-width: 1072px) {
  nav {
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    gap: 15px;
  }

  .search-box {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {
  nav h1 a {
    font-size: 22px;
  }

  nav-links ul li a {
    font-size: 14px;
  }

  .search-box input {
    font-size: 12px;
  }

  .search-box button {
    font-size: 12px;
  }
  .recipe-container {
    font-size: 14px;
  }
}

@media only screen and (max-width: 400px) {
  .search-box {
    width: 90%;
  }
}
