@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(224, 248, 248);
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 24px;
  background: linear-gradient(to top, rgb(2, 88, 88), rgb(2, 120, 120));
  color: rgb(224, 248, 248);
}
nav h1 {
  flex: 1;
}
nav h1 a {
  text-decoration: none;
  color: rgb(224, 248, 248);
  font-size: 28px;
}
nav-links {
  flex: 1;
}

nav-links ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  list-style: none;
}
nav-links ul li a {
  text-decoration: none;
  color: rgb(224, 248, 248);
  font-weight: 600;
  font-size: 18px;
  transition: all 0.25s ease-in-out;
}

nav-links ul li a:hover {
  color: rgb(188, 243, 243);
}
nav-links ul li a:active {
  color: rgb(150, 218, 218);
  text-decoration: underline;
  text-underline-offset: 5px;
}
.search-box {
  text-align: center;
  flex: 2;
}

.search-box input {
  width: 50%;
  padding: 8px;

  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 2px;
  color: rgb(2, 88, 88);
  background: rgb(224, 248, 248);
}
.search-box input::placeholder {
  color: rgb(224, 248, 248);
  color: rgba(2, 88, 88, 0.678);
}
.search-box button {
  padding: 8px;
  font-weight: 600;
  font-size: 16px;
  outline: none;
  border: none;
  color: rgb(2, 88, 88);
  background-color: rgb(224, 248, 248);
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.search-box button:hover {
  background-color: rgb(188, 243, 243);
}
.search-box button:active {
  background-color: rgb(150, 218, 218);
}

.recipe-container-front {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  gap: 30px;
}

.recipe-img {
  width: 400px;
  height: 300px;

  border-radius: 4px;
  box-shadow: 1px 1px 20px 0px rgb(2, 88, 88);

  transition: all 0.5s ease-in-out;
  background-image: linear-gradient(
      135deg,
      rgba(224, 248, 248, 0.1),
      rgba(150, 218, 218, 0.1)
    ),
    url("./recipe-img.jpg");
  background-size: cover;
}
.recipe-img:hover {
  scale: 1.02;
}

.recipe-container {
  width: 90%;
  margin: auto;
  display: grid;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  place-items: center;
  grid-gap: 40px;

  margin-top: 50px;
  font-size: 18px;
  font-weight: 700;
  color: rgb(2, 88, 88);
}

.recipe-container h2 {
  margin-top: 100px;
}
.recipe-container h2 span {
  background-color: rgb(2, 88, 88);
  color: rgb(224, 248, 248);
  padding: 3px;
  border-radius: 2px;
}

.recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 300px;
  height: 500px;

  padding: 3px;
  border-radius: 4px;
  border: 2px solid rgb(2, 88, 88);
  text-align: center;
  background: linear-gradient(to top, rgb(2, 88, 88), rgb(2, 120, 120));
  box-shadow: 0px 0px 20px 0px rgb(2, 88, 88);
  transition: all 0.5s ease-in-out;
}
.recipe-card:hover {
  scale: 1.03;
}
.recipe-card img {
  width: 100%;
  height: 225px;
  border-radius: 4px;
}
.recipe-card h3 {
  color: rgb(188, 243, 243);
  font-weight: 600;
  margin-top: 10px;
}
.recipe-card h5 {
  color: rgb(255, 255, 255);
  font-weight: 400;
  margin-top: 10px;
}

.recipe-card h5 span {
  font-weight: 600;
}

.recipe-card button {
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 8px;
  width: 40%;
  font-weight: 600;
  border: none;

  border-radius: 4px;
  color: rgb(2, 88, 88);
  background-color: rgb(224, 248, 248);
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.recipe-card button:hover {
  background-color: rgb(188, 243, 243);
}
.recipe-card button:active {
  background-color: rgb(150, 218, 218);
}

.recipe-details {
  display: none;

  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 70%;
  height: 80vh;
  overflow-y: scroll;

  background: linear-gradient(to top, rgb(2, 88, 88), rgb(2, 120, 120));
  border-radius: 4px;
  border: 2px solid rgb(1, 49, 49);
  padding: 10px;

  text-align: center;
}
.recipe-details-content iframe {
  border: 2px solid rgb(224, 248, 248);
  margin-bottom: 10px;
}
.recipe-details-content h2 {
  color: rgb(188, 243, 243);
  margin-top: -25px;
  text-decoration: underline;
  text-underline-offset: 5px;
}
.recipe-details-content h3 {
  margin-top: 10px;
  font-size: 20px;
  color: rgb(188, 243, 243);
  font-weight: 500;
}

.recipe-details-content ul li {
  color: whitesmoke;
  font-size: 14px;
  margin-block: 5px;
}

.recipe-details-content p {
  font-weight: 300;
  color: whitesmoke;
  font-size: 14px;
  line-height: 2;
  white-space: pre-wrap;
  padding: 10px;
}

.video {
  width: 75%;
  height: 300px;
}

.recipe-details button {
  width: 32px;
  height: 32px;
  border: 2px solid rgb(2, 88, 88);
  background: rgb(224, 248, 248);
  border-radius: 5px;
  font-size: 22px;
  text-align: center;
  position: sticky;

  top: 0px;
  left: 1000px;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}
.recipe-details button:hover {
  background-color: rgb(188, 243, 243);
}
.recipe-details button:active {
  background-color: rgb(150, 218, 218);
}

footer {
  width: 100%;
  height: 40px;
  background: linear-gradient(to top, rgb(2, 88, 88), rgb(2, 120, 120));

  text-align: center;
  font-size: small;
  padding-top: 10px;

  color: rgb(224, 248, 248);
  position: sticky;
  margin-top: 35px;
  top: 100%;
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 50px;
}

/* Responsive ############################################# */

@media only screen and (max-width: 1150px) {
  .search-box {
    width: 90%;
  }
}

@media only screen and (max-width: 1072px) {
  nav {
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    gap: 15px;
  }

  .search-box {
    width: 80%;
  }
}

@media only screen and (max-width: 1080px) {
  .recipe-container {
    width: 80%;
  }
}

@media only screen and (max-width: 860px) {
  .recipe-container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    padding-inline: 75px;
  }
  .recipe-container-front h2 {
    font-size: 20px;
  }

  .video {
    height: 250px;
  }
}
@media only screen and (max-width: 805px) {
  .recipe-container-front h2 {
    font-size: 18px;
  }
  .recipe-container h2 {
    font-size: 17px;
  }
}

@media only screen and (max-width: 709px) {
  .recipe-container-front h2 {
    font-size: 15px;
  }
  .recipe-container h2 {
    font-size: 16px;
  }
}

@media only screen and (max-width: 660px) {
  .recipe-container-front h2 {
    font-size: 14px;
  }
  .recipe-container-front {
    width: 350px;
  }

  .recipe-container h2 {
    font-size: 15px;
  }

  .recipe-img {
    width: 300px;
    height: 200px;
  }
  .video {
    height: 200px;
  }

  .recipe-details-content p {
    font-size: 12px;
  }

  .recipe-details-content ul li {
    font-size: 12px;
  }
}

@media only screen and (max-width: 600px) {
  nav h1 a {
    font-size: 22px;
  }

  nav-links ul li a {
    font-size: 14px;
  }

  .search-box input {
    font-size: 12px;
  }

  .search-box button {
    font-size: 12px;
  }
  .recipe-container {
    font-size: 14px;
  }
  .recipe-container h2 {
    font-size: 14px;
  }

  .recipe-card {
    width: 250px;
    height: 400px;
  }
  .recipe-card img {
    height: 150px;
  }
  footer {
    font-size: x-small;
  }
}

/* Button-Responsive##################################### */
.arrow {
  display: none;
  font-size: 1px;
}

@media only screen and (max-width: 485px) {
  .arrow {
    display: block;
    font-size: 42px;
    font-weight: 300;
    position: absolute;
    right: 35px;
    top: 65px;
  }

  .recipe-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    place-items: center;
    grid-gap: 30px;

    margin-top: 50px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(2, 88, 88);
  }

  .recipe-container h2 {
    font-size: 12px;
  }

  .recipe-img {
    width: 250px;
    height: 150px;
  }
  .recipe-card button {
    font-size: small;
  }
  nav {
    height: auto;
  }
  .nav-list {
    display: none;
    flex-direction: column;
  }
  nav-links ul li {
    width: 100%;
    padding: 5px;
  }
}

@media only screen and (max-width: 400px) {
  .search-box {
    width: 90%;
  }
  .video {
    height: 150px;
  }
  .recipe-details-content p {
    font-size: 10px;
  }
  .recipe-details-content ul li {
    font-size: 10px;
  }
  .recipe-img {
    width: 150px;
    height: 100px;
  }

  .recipe-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    place-items: center;
    grid-gap: 30px;

    margin-top: 50px;
    font-size: 14px;
    font-weight: 600;
    color: rgb(2, 88, 88);
  }
  .recipe-card {
    width: 225px;
  }
  .recipe-card img {
    height: 120px;
  }
  .arrow {
    top: 70px;
    font-size: 32px;
  }
}

@media only screen and (max-width: 360px) {
  .recipe-container {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    place-items: center;
    grid-gap: 30px;

    margin-top: 50px;
    font-size: 12px;
    font-weight: 500;
    color: rgb(2, 88, 88);
  }
  .recipe-card {
    width: 200px;
    height: 320px;
  }
  .recipe-card img {
    height: 100px;
  }
  .recipe-card button {
    font-size: x-small;
  }
}

/* Scrollbar################# */

body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-thumb {
  background: linear-gradient(to top, rgb(2, 88, 88), rgb(2, 120, 120));
}
body::-webkit-scrollbar-track {
  background-color: rgb(230, 238, 247);
}

.recipe-details::-webkit-scrollbar {
  width: 12px;
}
.recipe-details::-webkit-scrollbar-thumb {
  background-color: rgb(230, 238, 247);
}
.recipe-details::-webkit-scrollbar-track {
  background: linear-gradient(to top, rgb(2, 88, 88), rgb(2, 120, 120));

  width: 125px;
}

/* Loader############################### */
.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 50px;
}
